<tr>
   <th colspan="4">{{ title }}</th>
</tr>
<tr>
   {% set options = {
      'rand': rand,
      'required': 'required'
   } %}
   <td width="20%">{{ __('Title') }}<span style="color:red;">*</span></td>
   <td colspan="3">{{ item|field(so, 1, options) }}</td>
</tr>
<tr>
<th colspan="4">{{ __('Condition to show the section', 'formcreator')}}</th>
</tr>
{{ conditionsHtml|raw }}
<tr>
   <td colspan="4" class="center">
   {% set options = {
      'rand': rand,
      'hidden': true
   } %}
   {{ item|field(so, 3, options) }}
   </td>
</tr>
