
<tr>
   <th colspan="4">{{ title }}</th>
</tr>
<tr>
   <td width="20%">{{ __('Title') }}<span style="color:red;">*</span>
   </td>
   <td colspan="3">{{ item.name|raw }}</td>
</tr>
<tr>
<th colspan="4">{{ __('Condition to show the section', 'formcreator')}}</th>
</tr>
{{ conditionsHtml|raw }}
<tr>
   <td colspan="4" class="center">
   {{ item.id|raw }}
   {{ item.uuid|raw }}
   {{ item.plugin_formcreator_forms_id|raw }}
   </td>
</tr>
