<tr class="tab_bg_1">
   <td width="20%"><strong>{{ __('Name') }}<span class="red">*</span></strong></td>
   <td width="30%">{{ item.name|raw }}</td>
   <td width="20%"><strong>{{ __('Active') }}<span class="red">*</span></strong></td>
   <td width="30%">{{ item.is_active|raw}}</td>
</tr>
<tr class="tab_bg_2">
   <td width="20%">{{ __('Category') }}</td>
   <td width="30%">{{ item.plugin_formcreator_categories_id|raw }}</td>
   <td width="20%">{{ __('Direct access on homepage', 'formcreator') }}</td>
   <td width="30%">{{ item.helpdesk_home|raw}}</td>
</tr>
<tr class="tab_bg_1">
   <td width="20%">{{ __('Form icon', 'formcreator') }}</td>
   <td width="30%">{{ item.icon|raw }}</td>
   <td width="20%">{{ __('Background color', 'formcreator') }}</td>
   <td width="30%">{{ item.background_color|raw}}</td>
</tr>
<tr class="tab_bg_1">
   <td width="20%">{{ __('Description') }}</td>
   <td width="30%">{{ item.description|raw }}</td>
   <td width="20%">{{ __('Language') }}</td>
   <td width="30%">{{ item.language|raw}}</td>
</tr>
<tr class="tab_bg_1">
   <td width="20%">{{ _n('Header', 'Headers', 1, 'formcreator') }}</td>
   <td colspan="3">{{ item.content|raw }}</td>
</tr>
<tr class="tab_bg_2">
   <td width="20%">{{ __('Need to be validate?', 'formcreator') }}</td>
   <td class="validators_bloc">{{ item.validation_required|raw}}</td>
   <td colspan="2"><div id="validators_users">{{ item.validators_users|raw}}</div>
      <div id="validators_groups" style="width: 100%">
      {{ item.validators_groups|raw}}
      </div>
   </td>
</tr>
<tr>
   <td width="20%">{{ __('Default form in service catalog', 'formcreator') }}</td>
   <td width="30%">{{ item.is_default|raw }}</td>
</tr>
{% if item.id > 0 and item.canPurgeItem == true %}
<tr>
   <td colspan="4">
   <i class="fas fa-exclamation-triangle"></i>&nbsp;
   {{ __('To delete this form you must delete all its answers first.', 'formcreator') }}
   </td>
</tr>
{% endif %}
<script type="text/javascript">
//<![CDATA[
$(document).ready(function() {plugin_formcreator_changeValidators();});
//]]>
</script>