{% set rand = rand() %}
<tr class="tab_bg_1">
   {% set options = {
      'rand': rand,
      'required': 'required'
   } %}
   <td width="20%"><strong>{{ __('Name') }}<span class="red">*</span></strong></td>
   <td width="30%">{{ item|field(so, 1, options) }}</td>
   {% set options = { 'rand': rand } %}
   <td width="20%"><strong>{{ __('Active') }}<span class="red">*</span></strong></td>
   <td width="30%">{{ item|field(so, 30, options) }}</td>
</tr>
<tr class="tab_bg_2">
   {% set options = {
      'rand': rand,
      'field': 'plugin_formcreator_categories_id'
   } %}
   <td width="20%">{{ __('Category') }}</td>
   <td width="30%">{{ item|field(so, 10, options) }}</td>
   {% set options = { 'rand': rand } %}
   <td width="20%">{{ __('Direct access on homepage', 'formcreator') }}</td>
   <td width="30%">{{ item|field(so, 8, options) }}</td>
</tr>
<tr class="tab_bg_1">
   {% set options = { 'rand': rand } %}
   <td width="20%">{{ __('Form icon', 'formcreator') }}</td>
   <td width="30%">{{ item|field(so, 31, options) }}&nbsp;{{ item|field(so, 32, options) }}</td>
   {% set options = { 'rand': rand } %}
   <td width="20%">{{ __('Background color', 'formcreator') }}</td>
   <td width="30%">{{ item|field(so, 33, options) }}</td>
</tr>
<tr class="tab_bg_1">
   {% set options = { 'rand': rand } %}
   <td width="20%">{{ __('Description') }}</td>
   <td width="30%">{{ item|field(so, 4, options) }}</td>
   {% set options = { 'rand': rand } %}
   <td width="20%">{{ __('Language') }}</td>
   <td width="30%">{{ item|field(so, 7, options) }}</td>
</tr>
<tr class="tab_bg_1">
   {% set options = { 'rand': rand } %}
   <td width="20%">{{ _n('Header', 'Headers', 1, 'formcreator') }}</td>
   <td colspan="3">{{ item|field(so, 34, options) }}</td>
</tr>
<tr class="tab_bg_2">
   {% set options = {
      'rand': rand,
      'on_change': 'plugin_formcreator_changeValidators()'
   } %}
   <td width="20%">{{ __('Validation type', 'formcreator') }}</td>
   <td>{{ item|field(so, 11, options) }}</td>
   <td colspan="2">
      <div id="validators_users">
         {{ validators_users|raw }}
         </div>
      <div id="validators_groups" style="width: 100%">
         {{ validators_groups|raw}}
      </div>
   </td>
</tr>
<tr>
   {% set options = { 'rand': rand} %}
   <td width="20%">{{ __('Default form in service catalog', 'formcreator') }}</td>
   <td width="30%">{{ item|field(so, 13, options) }}</td>
</tr>
{% if canPurgeItem(item) == true %}
<tr>
   <td colspan="4">
   <i class="fas fa-exclamation-triangle"></i>&nbsp;
   {{ __('To delete this form you must delete all its answers first.', 'formcreator') }}
   </td>
</tr>
{% endif %}
<script type="text/javascript">
//<![CDATA[
$(document).ready(function() {plugin_formcreator_changeValidators();});
//]]>
</script>